@media only screen and (min-width: 1440px) {
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    padding: 15px 0;
  }
  .main_nav ul li a::after {
    top: -38px;
  }
  .custom_btn {
    padding: 10px 12px;
  }
  .padding_top {
    padding-top: 89px;
  }
  .about_package {
    width: 100%;
    padding: 50px 0;
  }
  .custom_heading {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 15px 0;
  }
  .main_nav {
    ul {
      margin: 0 -10px;
      li {
        padding: 0 10px;
        a {
          font-size: 16px;
          &::after {
            top: -31px;
          }
        }
      }
    }
  }
  .auto_container {
    padding: 0 15px;
  }
  .logo a img {
    display: block;
    max-width: 130px;
  }
  .custom_btn {
    padding: 11px 12px;
  }
  .padding_top {
    padding-top: 80px;
  }
  .main_bannerInner {
    background-size: 210px;
    padding: 75px 0px 58px;
  }
  .banner_heading {
    h1 {
      font-size: 26px;
      padding-bottom: 10px;
    }
    h4 {
      font-size: 17px;
      line-height: 1.3;
      padding-bottom: 25px;
    }
  }
  .partner {
    padding: 40px 0;
  }
  .custom_heading {
    padding-bottom: 30px;
    h3 {
      font-size: 20px;
      padding-bottom: 5px;
    }
    h2 {
      font-size: 26px;
    }
  }
  .partner_list {
    padding-bottom: 30px;
    ul {
      margin: 0 -5px;
      li {
        padding: 0 5px 10px;
      }
    }
  }
  .partner_main {
    padding: 15px 10px 65px;
    position: relative;
    span {
      width: 115px;
      height: 115px;
      margin: 0 auto 15px;
      img {
        max-width: 90px;
      }
    }
    h4 {
      width: 100%;
      color: #76a12f;
      font-size: 18px;
    }
    p {
      width: 100%;
      font-size: 14px;
      min-height: inherit;
      padding-bottom: 10px;
    }
    .my_btn {
      position: absolute;
      left: 0;
      bottom: 15px;
      a {
        font-size: 16px;
      }
    }
  }
  .custom_search {
    label {
      font-size: 18px;
      padding-bottom: 15px;
    }
    input {
      font-size: 16px;
      padding: 10px 10px;
    }
    button {
      font-size: 16px;
      padding: 11px 20px 12px;
    }
  }
  .process {
    padding: 40px 0;
  }
  .process_list {
    ul {
      margin: 0 -5px;
      li {
        padding: 0 5px;
      }
    }
  }

  .process_data {
    span {
      width: 65px;
      height: 65px;
      margin: 0 auto 15px;
      img {
        width: 38px;
      }
    }
    strong {
      font-size: 18px;
      padding-bottom: 0;
    }
    .process_data p {
      font-size: 14px;
    }
  }
  .testimonial {
    padding: 40px 0;
    .slick-arrow {
      bottom: -12%;
      &.slick-next {
        right: 40%;
      }
      &.slick-prev {
        left: 40%;
      }
    }
  }
  .slider_main {
    padding: 30px 10px 20px;
    b {
      width: 70px;
      height: 70px;
      font-size: 40px;
    }
    strong {
      font-size: 18px;
      padding-bottom: 10px;
    }
    p {
      font-size: 15px;
    }
  }
  .rating {
    padding-bottom: 8px;
  }
  .join {
    padding: 40px 0;
    background-size: 400px;
    min-height: inherit;
  }
  .join_main {
    .custom_form {
      max-width: 335px;
      ul {
        li {
          padding-bottom: 20px;
          &:last-child {
            padding-bottom: 0;
          }
          .custom_field {
            input {
              padding: 10px;
              font-size: 16px;
            }
          }
          .my_btn {
            .custom_btn {
              padding: 10px 25px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .footer_top {
    padding: 40px 0;
  }
  .footer_logo a img {
    min-width: inherit;
    width: 120px;
  }
  .footer_list {
    title {
      padding-bottom: 15px;
    }
  }
  .about_package {
    padding: 40px 0;
  }
  .ab_packageRight {
    h3 {
      font-size: 18px;
      padding-bottom: 10px;
    }
    p {
      font-size: 16px;
    }
  }
  .our_values {
    padding-bottom: 40px;
    .process_data strong {
      padding-bottom: 10px;
    }
  }
  .faqs {
    padding: 40px 0;
  }
  .accordion-item h2 {
    button {
      padding: 8px 10px;
      font-size: 14px;
      b {
        font-size: 22px;
        margin-right: 5px;
      }
    }
  }
  .accordion-item .accordion-body {
    padding: 10px;
    b {
      font-size: 20px;
    }
  }
  .contact_left {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 767px) {
  .burger {
    display: flex;
  }
  .main_nav {
    background-color: #fff;
    position: fixed;
    // display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    ul {
      flex-wrap: wrap;
      li {
        width: 100%;
        padding: 0 0 20px;
        &:last-child {
          padding-bottom: 0;
        }
        a {
          font-weight: bold;
          font-size: 20px;
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .header {
    padding: 15px 0;
  }
  .logo a img {
    display: block;
    max-width: 115px;
  }
  .padding_top {
    padding-top: 75px;
  }

  .main_bannerInner {
    background-size: 300px;
    padding: 50px 0px;
    background-image: none;
  }
  .auto_container {
    padding: 0 15px;
  }
  .banner_heading {
    h1 {
      font-size: 22px;
      line-height: 1.2;
      padding-bottom: 10px;
    }
    h4 {
      font-size: 16px;
      line-height: 1.2;
      padding-bottom: 20px;
    }
  }
  .partner {
    padding: 50px 0;
  }
  .custom_heading {
    padding-bottom: 30px;
    h3 {
      font-size: 18px;
      padding-bottom: 5px;
    }
    h2 {
      width: 100%;
      color: #000;
      font-size: 20px;
      font-family: "Tahoma-Regular-font";
      font-weight: bold;
    }
  }
  .partner_list {
    ul {
      margin: 0;
      li {
        width: 100%;
        padding: 0 0 30px;
      }
    }
  }
  .custom_searchField {
    input {
      min-width: 185px;
      font-size: 14px;
      padding: 10px 8px;
    }
    button {
      font-size: 16px;
      padding: 10px 10px 11px;
      font-weight: 500;
    }
  }
  .custom_btn {
    font-size: 16px;
    padding: 10px 18px;
  }
  .partner_main {
    padding: 20px 15px;
  }
  .partner_main {
    span {
      width: 110px;
      height: 110px;
      margin: 0 auto 15px;
      img {
        max-width: 85px;
      }
    }
  }
  .partner_main {
    h4 {
      font-size: 18px;
      padding-bottom: 10px;
    }
    p {
      font-size: 14px;
      line-height: 1.4;
      min-height: auto;
      padding-bottom: 20px;
    }
    .my_btn a {
      font-size: 16px;
    }
  }
  .custom_search label {
    font-size: 16px;
    line-height: 1.1;
  }
  .process {
    padding: 50px 0 20px;
  }
  .process_list {
    ul {
      margin: 0;
      li {
        width: 100%;
        padding: 0 0 40px;
      }
    }
  }
  .process_data {
    span {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;

      img {
        width: 40px;
      }
    }
  }
  .process_data {
    strong {
      font-size: 20px;
      padding-bottom: 5px;
    }
    p {
      font-size: 15px;
      line-height: 1.2;
    }
  }
  .testimonial {
    padding: 50px 0 80px;
  }
  .slider_main {
    padding: 30px 10px 20px;
    figure {
      width: 75px;
      height: 75px;
    }
    strong {
      font-size: 20px;
      padding-bottom: 5px;
    }
  }
  .rating {
    padding-bottom: 5px;
  }
  .testimonial {
    .slick-arrow {
      &.slick-next {
        right: 25%;
      }
      &.slick-prev {
        left: 25%;
      }
    }
  }
  .join {
    padding: 50px 0;
    background-image: none;
    min-height: initial;
  }
  .custom_field {
    input {
      width: 100%;
      padding: 10px 8px;
      font-size: 14px;
    }
    select {
      width: 100%;
      padding: 10px 8px;
      font-size: 14px;
    }
    textarea {
      width: 100%;
      padding: 10px 8px;
      font-size: 14px;
    }
  }
  .custom_form {
    ul {
      li {
        padding-bottom: 15px;
        &:last-child {
          padding-bottom: 0;
        }
        .my_btn .custom_btn {
          padding: 10px 20px;
          font-size: 14px;
        }
      }
    }
  }
  .footer_top {
    padding: 50px 0;
  }
  .footer_logo {
    padding-bottom: 30px;
    a img {
      min-width: initial;
      max-width: 150px;
    }
  }
  .footer_list {
    title {
      padding-bottom: 15px;
    }
    ul {
      li {
        padding-bottom: 10px;
        a i {
          font-size: 16px;
        }
      }
    }
  }
  .footer_secondDiv {
    padding-bottom: 30px;
  }
  .follow_us {
    ul {
      display: flex;
      margin: 0 -3px;
      li {
        padding: 0 3px 0;
      }
    }
  }
  .about_package {
    padding: 50px 0;
  }
  .ab_packageLeft {
    width: 100%;
    max-width: 100%;
    padding-bottom: 30px;
    span {
      max-width: 150px;
      margin: auto;
    }
  }
  .ab_packageRight {
    width: 100%;
    padding-left: 0;
    h3 {
      font-size: 16px;
      line-height: 1.2;
      padding-bottom: 10px;
    }
    p {
      font-size: 15px;
    }
  }
  .our_values {
    padding-bottom: 50px;
  }
  .faqs {
    padding: 50px 0;
  }
  .accodian_main ul {
    margin: 0;
    li {
      width: 100%;
      padding: 0 0 15px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .accordion-item {
    h2 {
      button {
        padding: 10px 15px 10px 10px;
        font-size: 13px;
        b {
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }
    .accordion-body {
      padding: 10px;
      b {
        font-size: 18px;
        margin-right: 5px;
      }
      p {
        line-height: 1.2;
      }
    }
  }
  .contact {
    padding: 50px 0;
  }
  .contact_left {
    width: 100%;
    padding: 50px 15px;
    > h2 {
      font-size: 20px;
      padding-bottom: 10px;
    }
    > p {
      font-size: 14px;
      line-height: 1.2;
    }
  }
  .contact_data {
    ul {
      justify-content: center;
      li {
        width: 50%;
        padding: 0 5px 30px;
      }
    }
  }
  .contact_info a {
    font-size: 14px;
  }
  .contact_data {
    padding-bottom: 0;
  }
  .services_list {
    > ul {
      margin: 0;
      > li {
        width: 100%;
        padding: 0 0 20px;
      }
    }
  }
  .service_data {
    padding: 20px 20px;
  }
  .service_data title {
      font-size: 18px;
      line-height: 1.2;
      padding-bottom: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
}
